*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.wrapper{
    text-align: center;


}
.wrapper h2{
    margin: 40px 0;
    font-size: 2.5rem;


}
.wrapper img{
    width: 600px;
    max-width: 75%;


}
.main-btn{
    padding: 15%;
    background-color: aqua;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 6rem;
    cursor:pointer;


}
@media(max-width:767px){
    .wrapper h3{
        font-size: 2rem;
    }
}